@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
*{
    font-family: 'Nunito', sans-serif;
}


.nav-item a{
    font-size: calc(0.5rem + 1vw);
    font-weight: 900;
}

.landing-screen{
    background-color: #FFA070;
    height: auto;
    width: 100%;
}

.landing-heading h1{
    font-weight:700;
    font-size: calc(2.5rem + 3.5vw);
    color: #FDEBE6;
    text-align: center;
}

.featured-col{
    background-color: #FDEBE6;
    border-radius: 20px 0 50px 0;
}

.product-desc h2{
    font-size: calc(0.5rem + 1vw);
    text-align: center;
}

.featured-col img{
    border-radius: 20px 0 50px 0;
}
.featured-col:hover{
    cursor: pointer;
    transform: translateY(-15px);
    background-color: #FF8547;
    color: #FDEBE6;
}

#footer{
    margin-top: 20vh;
}